.window {
    width: 100%;
        height: 100%;
        background-image: url('../img/background/homepage.jpg');
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    .window-in {
        width: 40vw;
        min-height: 40vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.543);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 15px;
        padding: 45px;
        .register-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            height: auto;
            .register-box-formulaire {
                padding: 15px 0px;
                width: 100%;
                >div {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-around;
                    border: 1px solid black;
                    text-align: center;
                    padding: 10px 0px;
                    label {
                        padding: 0px
                    }
                    #cgu-check {
                        width: 30px;
                    }
                }
                label, input, button {
                    text-align: center;
                    width: 100%;
                    text-align: center;
                    padding: 10px 0px;
                    margin-top: 15px;
                    outline: none;
                }
                button {
                    cursor: pointer;
                    font-family: 'montserrat';
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
        p {
            a {
                font-weight: 600;
                color: black;
                font-style: italic;
            }
        }
    }
}