header {
    width: 100vw;
    height: auto;
    flex-direction: column;
    #header-top {
        height: 50px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            a {
                color: white;
            }
        }
    }
    nav {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            li {
                width: 100%;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                transform: scale(1);
                transition: .5s ease-in-out;
                a {
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    font-family: 'roboto';
                    font-weight: 400;
                    letter-spacing: 3px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

        }
    }
}