.photoprofil {
  margin: auto;
}
.photoprofil img {
  width: 130px;
  border-radius: 100px;
}

.window {
  width: 100%;
  min-height: auto;
  background-image: url("../img/background/background2.jpg");
  background-color: #f7e0c3;
  background-size: cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}
.window .window-in {
  width: 40vw;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.543);
  border: 1px solid white;
  border-radius: 15px;
  padding: 45px;
  margin: auto;
}
.window .window-in .register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.window .window-in .register-form .register-box-formulaire {
  padding: 15px 0px;
  width: 100%;
}
.window .window-in .register-form .register-box-formulaire > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  border: 1px solid black;
  text-align: center;
  padding: 10px 0px;
}
.window .window-in .register-form .register-box-formulaire > div label {
  padding: 0px;
}
.window .window-in .register-form .register-box-formulaire > div #cgu-check {
  width: 30px;
}
.window .window-in .register-form .register-box-formulaire label, .window .window-in .register-form .register-box-formulaire input, .window .window-in .register-form .register-box-formulaire button {
  text-align: center;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  margin-top: 15px;
  outline: none;
}
.window .window-in .register-form .register-box-formulaire button {
  cursor: pointer;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 15px;
}
.window .window-in p a {
  font-weight: 600;
  color: black;
  font-style: italic;
}

section {
  height: 100vh;
  width: 100vw;
}
section .homepage {
  width: 100%;
  height: 100%;
  background-image: url("../img/background/background2.jpg");
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .homepage .box-homepage {
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.543);
  border: 1px solid white;
  border-radius: 15px;
  padding: 60px;
}
section .homepage .box-homepage #new-collection-home {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
section .homepage .box-homepage #new-collection-home img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  opacity: 0.8;
  transform: scale(1);
  transition: 0.6s ease-in-out;
  border: 2px solid white;
}
section .homepage .box-homepage #new-collection-home img:hover {
  transform: scale(1.05);
}
section .homepage .box-homepage p {
  text-align: center;
  font-size: 15px;
}

header {
  width: 100vw;
  height: auto;
  flex-direction: column;
}
header #header-top {
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #header-top h1 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
header #header-top h1 a {
  color: white;
}
header nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav ul li {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
header nav ul li a {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  font-weight: 400;
  letter-spacing: 3px;
}
header nav ul li a:hover {
  opacity: 0.7;
}

@font-face {
  font-family: "Monstserrat";
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "gallient";
  src: url("../font/gallientregular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

H1 {
  font-family: "Roboto";
  font-size: 30px;
}

H2 {
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: auto;
}

h3 {
  font-size: 15px;
  font-family: "roboto";
  margin-bottom: 10px;
  font-weight: bold;
}

H4 {
  font-size: 12px;
  font-family: "roboto";
  font-weight: 700;
  letter-spacing: 3px;
}

p, a {
  color: black;
  font-family: "Roboto";
}

label {
  font-family: "montserrat";
  font-weight: 500;
}

a {
  text-decoration: none;
}

.middle-btn {
  border: 1px solid black;
  padding: 15px;
  border-radius: 50px;
  background-color: black;
  color: white;
  letter-spacing: 3px;
  font-size: 10px;
  transition: 0.2s ease-in-out;
  min-width: 150px;
  text-align: center;
  margin: auto;
}
.middle-btn:hover {
  opacity: 0.8;
  background-color: white;
  color: black;
}

#addproductform {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}
#addproductform div {
  margin: auto;
  width: 100%;
}
#addproductform .input-form {
  width: 100%;
  outline: none;
  padding: 10px 0px;
  text-align: center;
}
#addproductform h3 {
  margin-top: 15px 0px;
  text-transform: uppercase;
}

#create-return {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
